@model string
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-init="courses=[
     {number: 'CREA101', name: 'Care of Magical Creature', instructure: 'Rubeus Hagrid'},
     {number: 'LONG102', name: 'Long distance running', instructure: 'Jame Robin'},
     {number: 'STAR103', name: 'Star Travel', instructure: 'Juliet Hargreaves'}
     ]">
    <div class="row">
        <div class="span10">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Course</th>
                    <th>Course Name</th>
                    <th>Instructor</th>
                </tr>
                <tr ng-repeat="course in courses">
                    <td>{{course.number}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.instructor}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

