<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <connectionStrings>
    <clear />
    <add name="default" connectionString="Url=https://neuxrm.crm6.dynamics.com;" />
    
    <!-- When providing a password, make sure to set the app.config file's security so that only you can read it. -->
    <add name="preview" connectionString="Url=https://mydomain.crm.dynamics.com; Username=someone@mydomain.onmicrosoft.com; Password=password" />
  </connectionStrings>
  
  <appSettings>
    <!--For information on how to register an app and obtain the ClientId and RedirectUrl
        values see https://msdn.microsoft.com/dynamics/crm/mt149065 -->
    
    <!--Active Directory application registration. -->
    <!--These are dummy values and should be replaced with your actual app registration values.-->
    <add key="ClientId" value="930d7a11-02f0-4ca0-9bb5-831f0dbfbc2e"/>
    <add key="RedirectUrl" value="http://localhost/sdksampletest00"/>
    
    <!-- Use an alternate configuration file for connection string and setting values. This optional setting
    enables use of an app.config file shared amoung multiple applications. If the specified file does
    not exist, this setting is ignored.-->
    <add key="AlternateConfig" value="C:\Temp\crmsample.exe.config"/>
  </appSettings>
  
</configuration>